
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
}

.pagination-container{

  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.pagination-container button{
  margin-left: 5 px;
}