    <form (ngSubmit)="onSubmit" #registrationForm="ngForm" novalidate>
        <label for ="name">Name:</label>
        <input type="text" id="name" 
        name="name"[(ngModel)="userData.name" required>
            <label for ="email">Email:</label>
            <input type="text" id="email" 
            name="email"[(ngModel)="userData.email" required>
                <label for ="gender">Gender:</label>
                <input type="text" id="gender" 
                name="gender"[(ngModel)="userData.gender" required>
                    <label for ="nationality">Nationality:</label>
                    <input type="text" id="nationality" 
                    name="nationality"[(ngModel)="userData.nationality" required>
                    <label for ="password">Password:</label>
                    <input type="text" id="password" 
                    name="password"[(ngModel)="userData.password" required>
  <label for ="password">Password:</label>
    <input type="password" id="password" formControlName="password"/>
    <button type="submit">Submit </button>
</form>